body ,html {
    background-color: lavender;
    width: 100%;
    height: 100%;   
    margin:0;
    padding:0;
}

main{
    display: flex; 
    width:100%;
    height: 75%;
}

#mainPageImage{
    
    width: 965px;
    height: 684px;;
    display: inline;
    margin: 0rem;
    cursor: grab;
}

#tennis{
    width: 58px;
    height: 47px;
}

header{
    display: flex;
    background-color: darkcyan;
    padding-left: 22px;
    width: 100%;
    height: 10%;
    
}

h1{
    font-size: 22px;
    font-family: cursive;
    margin-bottom: -1rem;
    
}

#titleP{
    font-size: 14px; 
}

nav{
    display: flex;
    align-items: center;
    width: 40%;
      
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
     padding-left: 20%; 
     padding-right: 3%;
    }

#headerContainer {
    min-width: 30%;
}

#webTitle{
 width: 30%;
}

footer{
    height: 15%;
    width: 100%;
    background-color: darkcyan;
     position: fixed; 
}

#mainPageP{
    
    font-family: cursive
}

a:hover{
    text-decoration: none;
    
}

#tennisBall{
    width: 180px;
    height: 140px;  
    position: relative;
    bottom: -15rem;
    left: -1rem;
    transition-duration: 1000ms;
}

h2{
    padding-left: 17px;
    padding-right: 22%;
    width: 50%;
}

#playMain{
    padding-right: 0%;
    margin-right: 0%; 
}

#happyMighkty{
    float: right;
    padding-right: 0%;
    margin-right: 0;
}

.mail  {
     color: purple; 
    }