body {
    background-color: lavender;
    margin: 0;
}

#mainPageImage{
    margin: auto;
    width: 800px;
    height: 800px;
}

header{
    display: flex;
    background-color: darkcyan;
    box-shadow: 0px 0px 9px 3px rgb(41 41 41 / 25%);
    padding-left: 10px;
}
}

h1{
    font-size: 20px;
}

#titleP{
    font-size: 12px; 
}

nav{
    display: flex;
    align-items: center;
    padding-inline: 17rem;   
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    width: 40rem;
    padding-left: 78px;
    padding-inline: 1rem;
    height: 2rem;
}